* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9e9e9;
  overflow-x: hidden;
}

/* Navbar */
.navbar {
  background-color: #27a1e2;
  z-index: 3;
}

.active a {
  border-bottom: 2px solid white;
}

/* Main */
.row .btn {
  background-color: #2c91c9;
  color: white;
  outline: none;
  border: none;
  text-decoration: none;
}

.row .btn:hover {
  background-color: white;
  color: #2c91c9;
  border: 1px solid #2c91c9;
  transition: 0.5s;
}

main .row h1 {
  color: #058f3d;
}

.col-12 h1 {
  font-size: 60px;
}

main img,
main iframe {
  width: 500px;
  height: 315px;
}

.fade-in {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.from-left {
  transform: translateX(100%);
  transition: transform 500ms ease-in;
}

.from-right {
  transform: translateX(-100%);
  transition: transform 500ms ease-in;
}

.from-left.appear,
.from-right.appear {
  transform: translateX(0%);
}

main iframe,
main p {
  max-width: 100%;
}

main p {
  max-width: 95%;
}

iframe,
main img {
  border-radius: 12px;
}

/* Footer */
footer {
  color: white;
  width: 100%;
}

footer p,
footer a {
  color: #a9a9a9;
}

footer a:hover,
.fab:hover {
  text-decoration: none;
  color: #2c91c9;
  transition: 0.3s;
}

/* Media Queries */
@media (max-width: 1133px) {
  #welcome img {
    width: 950px;
  }

  footer img {
    width: 250px;
  }
}

@media (max-width: 1107px) {
  #welcome img {
    width: 930px;
  }

  footer img {
    width: 230px;
  }
}

@media (max-width: 1024px) {
  main .title,
  main p {
    max-width: 90%;
  }

  main .title {
    font-size: 35px;
  }

  main img {
    max-width: 95%;
  }

  main iframe {
    max-width: 100%;
  }

  footer img {
    width: 200px;
  }
}

@media (max-width: 1000px) {
  #welcome img {
    width: 600px;
  }

  footer img {
    width: 150px;
  }

  .carousel-caption h1 {
    font-size: 450%;
    font-weight: 400;
    color: white;
    text-align: center;
  }

  .carousel-caption h2 {
    color: white;
    font-weight: 600;
    font-size: 100%;
    text-align: center;
  }
}

@media (max-width: 800px) {
  #welcome img {
    width: 400px;
  }

  .carousel-caption h1 {
    font-size: 200%;
    font-weight: 400;
    text-align: center;
  }

  .carousel-caption h2 {
    color: white;
    font-weight: 600;
    font-size: 80%;
    text-align: center;
  }

  main p {
    max-width: 80%;
  }
}

@media (max-width: 430px) {
  iframe,
  main img {
    max-width: 315px;
  }
}

.pix-title {
  font-size: 20px;
  color: #035f28;
}

.chave-pix {
  font-size: 30px;
  color: #05588f;
  font-weight: bold;
}
